tpXml/src/main/resources/sans_namespace/produit.xsd


<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:annotation>
		<xs:documentation>Schema pour produit</xs:documentation>
	</xs:annotation>
	<xs:element name='produit' type='ProduitType' />

	<xs:complexType name="ProduitType">
		<xs:all>
			<xs:element name="description" type="xs:string" maxOccurs='1' />
			<xs:element name="prix" type="MyDecimalPositif" maxOccurs='1' />
		</xs:all>
		<xs:attribute name="num" type="xs:positiveInteger" use="required" />

	</xs:complexType>

	<xs:simpleType name="MyDecimalPositif">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
